.main {
	position: relative;
	z-index: 100;
	background-color: var(--purple);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: 100%;
}

.image {
	width: 50%;
}

.title {
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
	color: var(--pink);
	filter: drop-shadow(1px 1px 0 black);
}

.text {
	font-weight: 400;
	font-size: 22px;
	color: var(--white);
	filter: drop-shadow(1px 1px 0 black);
}
